
bert_classification/chinese_L-12_H-768_A-12/vocab.txt
bert_classification/chinese_L-12_H-768_A-12/pytorch_model.bin
bert_classification/chinese_L-12_H-768_A-12/bert_model.ckpt.meta
bert_classification/chinese_L-12_H-768_A-12/bert_model.ckpt.index
bert_classification/chinese_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
bert_classification/chinese_L-12_H-768_A-12/bert_config.json

